%align-center{
    
  align-items: center;
}

.container-omf{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @extend%align-center;
  background-color:$color-white;
  z-index: 10;
  opacity: 1;
  width: 100%;
  height: 100%;
  animation: load-screen 3s ease-in-out forwards;
h2{
  font-family: "shrikand";
  font-size: 2rem;

}
  

.load{
  display: flex;
  justify-content: space-evenly;
  width:  10rem;
  height: 5rem;
  &__bar{
      background-color:$color-white;
      height: 100%;
      width: 2rem;
      animation: load 1s backwards infinite alternate ease-in-out ;
     &:nth-child(1) {
      background: $color-purple;
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      background: $color-pink;
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      background: $color-mint;
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      background: $color-pink;
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      background: $color-purple;
      animation-delay: 1s;
    }
    @include load;
      }
  }
}
@keyframes load {
      0% {
          transform:scaleY(0.5) ;
      }
      100%{
          transform: scaleY(1);
      }
  }
   @keyframes load-screen {
       0%{
           opacity: 1;
       }
       50%{
           opacity: 1;
       }
       100%{
           opacity:0 ;
           visibility: hidden;
       }
   }   
      
  



