@mixin shadow {
  box-shadow: 0.25rem 0.25rem 1rem -0.5rem #7e7e7e;
}
@mixin load {
  @for $i from 1 through 5 {
    &:nth-child(5n + #{$i}) {
      animation-delay: #{(($i - 1) * 0.2)}s;
      background: nth($load-color, $i);
    }
  }
}
@mixin start($start) {
  @for $i from 1 through 3 {
    &:nth-child(3n + #{$i}) {
      animation-delay: #{$start + (($i - 1) * 0.5)}s;
    }
  }
}
@mixin small{
  @media screen and (max-width: 576px){@content; 
  }
}
@mixin medium{
  @media screen and (max-width: 768px){
    @content;   
  }
  }
@mixin large {
    @media screen and (max-width: 992px){@content;    
    }
}
@mixin extra-large {

    @media screen and (max-width: 1200px){@content;
        
    }
}
@mixin img {
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
@mixin img-ratio {
  width: 100%;
      display: block;
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
      & img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -50%);
      }
}
