$color-purple:#9356dc; 
$color-pink:#ff79da; 
$color-mint:#99e2d0; 
$base-bg:#f6f6f6;
$form-bg:#eaeaea;
$footer-bg:#353535;
$operation-bg:#f5edff;
$color-white:#fff;
$load-color: $color-purple,$color-pink , $color-mint, $color-pink, $color-purple;
$img-size: 15rem;


